@use '../../styles/variables/mixin.scss' as *;
@use '../../styles/variables/colors.scss' as *;
@use '../../styles/variables/typography.scss' as *;

.path-wrapper {
  @extend %flex-between;
  width: 100%;
}

.request-wrapper {
  @extend %flex-column;
  margin-top: 20px;
  gap: 15px;
}

.head-wrapper {
  @extend %flex-items-center;
}

.button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: $background;
  background-color: $primary;
  font-weight: $font-weight-bold;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $primary-hover;
  }
}

.rest-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  gap: 15px;
}

.widthPath {
  width: 85%;
}

.widthMeth {
  width: 15%;

  input {
    border-right: none !important;
  }
}