@use '../../../styles/variables/colors.scss' as *;
@use '../../../styles/variables/typography.scss' as *;
@use '../../../styles/variables/mixin.scss' as *;
@use '../../../styles/variables/z-index.scss' as *;

.input-container {
  @extend %flex-column;
  position: relative;
  gap: 4px;

  .input,
  .datalist {
    @extend %input;

    &:focus {
      border-color: $primary;
      outline: none;
    }
  }

  .datalist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: $z-modal;
  }

  .datalist-item {
    cursor: pointer;
    font-weight: $font-weight-medium;
    padding: 10px;

    &:hover {
      color: $primary;
    }
  }

  &:focus-within .datalist {
    display: block;
  }
}
